* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page > * {
  flex: 1 1 160px;
}

.db-text {
  position: relative;
  top: 50%;
  color: crimson;
  background: #cff8ad;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  max-width: 440px;
  margin: 16px;
}

.box {
  display: flex;
  flex-wrap: wrap;
}
.box > * {
  flex: 1 1 160px;
  background-color: bisque;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 10px;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
